attrs==16.2.0
BeautifulSoup==3.2.1
beautifulsoup4==4.5.1
cffi==1.8.3
cryptography==1.5.2
cssselect==1.0.0
enum34==1.1.6
funcsigs==1.0.2
idna==2.1
ipaddress==1.0.17
lxml==3.6.4
markovify==0.4.3
mock==2.0.0
numpy==1.11.2
parsel==1.0.3
pbr==1.10.0
protobuf==3.0.0
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.16
PyDispatcher==2.0.5
pyOpenSSL==16.2.0
queuelib==1.4.2
Scrapy==1.2.1
service-identity==16.0.0
six==1.10.0
tensorflow==0.11.0rc1
Twisted==16.4.1
Unidecode==0.4.19
w3lib==1.15.0
zope.interface==4.3.2
