 body{
  padding: 30px 30px 30px 30px;
 }
 .hintlabel {
  font-size: medium;
  margin: 10px 0 10px 0;
 }

  .input_param {
  width: 100%;
  margin: 10px 0 10px 0;
  border: 1px solid #cccccc;
  padding: 6px 12px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
 }

 #authors_selector{
  width: 100%;
  margin: 10px 0 10px 0;
  border: 1px solid #cccccc;
  padding: 6px 12px;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
 }

#gum  {
  height: 342px;
  margin: 10px 12px 0 20px;
  vertical-align: top;
  width: calc(30em - 10px);
}
#body { 
    padding: 20px 12px 20px 20px;
}
#record { 
    margin: 0 12px 20px 20px;
}
#generate { 
    margin: 20px 12px 20px 20px;
}

#lyrics_text{
  height: 342px;
  margin: 20px 12px 0 20px;
  width: calc(30em - 10px);
}
